

{% extends 'base.html' %}

{% block title %} 
    Mentor's Chat
{% endblock title %}

{% block content %}

    <script src="https://cdn.srv.whereby.com/embed/v2-embed.js" type="module"></script>
    <div class="container p-4">
        <iframe  allowusermedia allow="camera https://seomatic.whereby.com/test4f30348d-5906-4cc4-bbf7-d5c763404803; microphone https://seomatic.whereby.com/test4f30348d-5906-4cc4-bbf7-d5c763404803"  height="700" width="1200" class="" src="https://seomatic.whereby.com/test4f30348d-5906-4cc4-bbf7-d5c763404803?roomKey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZWV0aW5nSWQiOiI4NDI0ODU0MyIsInJvb21SZWZlcmVuY2UiOnsicm9vbU5hbWUiOiIvdGVzdDRmMzAzNDhkLTU5MDYtNGNjNC1iYmY3LWQ1Yzc2MzQwNDgwMyIsIm9yZ2FuaXphdGlvbklkIjoiMjIwMzQ2In0sImlzcyI6Imh0dHBzOi8vYWNjb3VudHMuc3J2LndoZXJlYnkuY29tIiwiaWF0IjoxNzExMTkzODMzLCJyb29tS2V5VHlwZSI6Im1lZXRpbmdIb3N0In0.34KJ_aKiRw-j4iDn8mQVARxBY6wvRGmZQzFLcd3voUk" frameborder="0"></iframe>
    </div>

{% endblock %}
